* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  max-width: 1140px;
  margin: 0 auto;
}

/* ----------------------------------- */
/* --------------HEADER--------------- */
/* ----------------------------------- */

header{
  background-color: white !important;
}

#logo {
  height: 150px;
}

.topnav{
  max-width: 1140px;
  background-color: white;
}

.nav-link {
  font-weight: 550;
}

.nav-item:not(:last-child) {
  padding: 0px 0px;
  margin-right: 10px;
}

.nav-item:hover .nav-link {
  color: #A14E19 !important;
  font-weight: 600;
}

.active-nav a.nav-link {
  color: #A14E19 !important;
  font-weight: 600;
}

.active-nav a::after {
  display: block;
  content: '';
  border-bottom: 2px solid #A14E19;
}

/* ----------------------------------- */
/* --------------BODY.CONTENT--------- */
/* ----------------------------------- */

body {
  background-color: white;
}

#main-banner {
  display: block;
  max-width: 100%;
  height: auto;
}

.banner-text-block {
  position: absolute;
  background-color: rgba(111 , 111, 111, 0.2);
}

.headline {
  overflow: hidden;
  text-align: center;
}

.headline > span {
  position: relative;
  display: inline-block;
}

.headline > span:before, .headline > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 2px solid;
  width: 592px; /* half of limiter */
  margin: 0 20px;
}
.headline > span:before{
  right: 100%;
}
.headline > span:after{
  left: 100%;
}

.carousel-caption {
  padding: 0 0;
  margin:0 0;
  text-align: center;
  bottom: 10px; left: 60px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}


/* ---------------FAQ------------ */

.faq-nav {
  flex-direction: column;
  margin: 0 0 32px;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}
.faq-nav .nav-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 13px 16px;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  color: #616161;
  transition: background-color 0.2s ease;
}
.faq-nav .nav-link:hover {
  background-color: #f6f6f6;
}
.faq-nav .nav-link.active {
  background-color: #f6f6f6;
  font-weight: 700;
  color: rgba(0, 0, 0, .87);
}
.faq-nav .nav-link:last-of-type {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: 0;
}
.faq-nav .nav-link i.fas {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
}
.tab-content {
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}
.tab-content .card {
  border-radius: 0;
}
.tab-content .card-header {
  padding: 15px 16px;
  border-radius: 0;
  background-color: #f6f6f6;
}
.tab-content .card-header h5 {
  margin: 0;
}
.tab-content .card-header h5 button {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  font-weight: 700;
  color: rgba(0, 0, 0, .87);
  text-align: left;
  white-space: normal;
}
.tab-content .card-header h5 button:hover, .tab-content .card-header h5 button:focus, .tab-content .card-header h5 button:active, .tab-content .card-header h5 button:hover:active {
  text-decoration: none;
}
.tab-content .card-body p {
  color: #616161;
}
.tab-content .card-body p:last-of-type {
  margin: 0;
}
.accordion > .card:not(:first-child) {
  border-top: 0;
}
.collapse.show .card-body {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}
